.WelcomePage{
    display: flex;
    width: 100vw;
height: 100vh;
    align-items: center;
    justify-content: center;
}

.aboutUs{
    display: flex;
    height: 100%;
    min-width: 55%;
    max-width: 65%;
    justify-content: center;
    align-items:center;
    overflow: visible;
}

.WelcomePage img{
    /* min-width: 46.8rem; */
    max-width: 750px;
    max-height: 600px;
    margin-right: -100px;
    height: auto;
}
.WelcomePage .aboutUs h2{
    text-align: center;
    font-size: 2.5rem;
}
.paragraphCenter{
    vertical-align: center;
    text-align:justify;
    font-size: 1.5rem;
}