
html{
  font-size: 16px;
}
.themeLogo{
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  margin-left: 1rem;
}
.changeTheme{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.changeTheme .themeLogo{
  aspect-ratio:  1 / 1;
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  margin-left: 1rem;
}
.Dark{
  background-color: rgb(62, 62, 62);
  color: whitesmoke;
  /* transition: 500ms ease-out,
  background-color 1s ease-out; */
}
.Light{
  background-color: rgb(232, 232, 232);
  color: black;
  /* transition: 500ms ease-out,
              background-color 1s ease-out; */
}
.Light a{
  color: black;
}
.Dark a{
  color: whitesmoke;
}
.landing{
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

nav{
  align-items: center;
  display: flex;
}
h1{
  font-size: 2rem;
  margin-left: 2rem;
}
a{
  text-decoration: none;
}
.navigation{
  width: 100vw;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}

.navigation ul{
  margin-right: 3rem;
  width: 30vw;
  display: flex;
  
  align-items: center;
}
.navigation a {
  padding: 0 1.5rem;
}
.navigation ul a li{
  text-decoration: none;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.Dark .firstNav{
  border-right: 2px solid rgba(255, 255, 255, 0.116);
  border-left: 2px solid rgba(255, 255, 255, 0.116);
}
.Dark .middleNav{
  border-right: 2px solid rgba(255, 255, 255, 0.116);
}
.Light .firstNav{
  border-right: 2px solid rgba(51, 51, 51, 0.137);
  border-left: 2px solid rgba(51, 51, 51, 0.137);
}
.Light .middleNav{
  border-right: 2px solid rgba(51, 51, 51, 0.137);
}

.navigation ul a li:hover {
  transition: 0.3s ease-in 0.1s;
}