
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    border-top: 2px solid grey
}
.contacts h2{
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: -2rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
  .usContact{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .usContact h3{
    font-size: 1.75rem;
    place-self: top;
  }
  .socials, .form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 50%;
  }

  .socials{
    border-left: 2px solid rgba(59, 59, 59, 0.301);
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem;
  }
  .socials h3{
    
    font-size: 1.75rem;
    place-self: top;
  }
  .form{
    align-items: center;
  }
form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#form{
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%;
}
.horizontal{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.horizontal label{
  font-size: 1.25rem;
  font-weight: 500;
}
input{
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid black;
}

.submit-button{
  padding: 1rem;
  width: 150px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.submit-button:hover{
  background: radial-gradient(circle, rgba(160, 160, 160, 0.8) 0%, rgba(68, 68, 68, 0.8) 100%);
  cursor: pointer;
  color: rgba(245, 245, 245, 0.548);
  transition: 350ms ease-in,
  color 250ms ease-in;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
}

.logo img{
  height: 50px;
  width: auto;
  padding: 1rem;
}
.logo p{
  background: rgb(233,233,233);
  background: radial-gradient(circle, rgba(92, 92, 92, 0.8) 0%, rgba(112, 112, 112, 0.8) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  letter-spacing: .05rem;
}
.logo:hover{
  color: transparent;
  cursor: pointer;
  transition: 250ms ease-in; 
}

.logo a:hover{
  color: transparent;
  cursor: pointer;
  transition: 250ms ease-in; 
}

@media (max-width:650px) {
  .center{
    flex-direction: column;
  }
  .form{
    width: 100%;
  }
  .socials{
    border-left: 0px;
    border-top: 2px solid rgba(59, 59, 59, 0.301);
    margin-top: 0rem;
    width: 80%;
  }
  .usContact{
    width: 80%;
  }
  .contacts h2{
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
@media (max-width: 350px) {
  .contacts h2{
    font-size: 2.25rem;
    margin-bottom: 0;
  }
  .usContact h3, .socials h3{
    font-size: 1.5rem;
  }
  .logo img{
    height: 40px;
    width: auto;
    padding: 1rem;
  }
}

